img{
    border-radius: 25px;
    margin: 20px;
    width: 20%; 
}

.divImages{
    display:flex;
    justify-content: center;
    
}

img:hover{ 
    color: #111;  
    background: greenyellow;  
    box-shadow: 0 0 100px greenyellow;  
} 